<div class = "movingPlanets">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
	<h1>
	  <em>E</em>
	  <em class="planet left">D</em>
	  <em>I</em>
	  <em>F</em>
	  <em class = "planet right">Y</em>
	  <em class>101</em>
	</h1>
</div>

